:root {
     --baseline:1.5rem;
     --font-size-small: 0.875rem;
     --font-size-base: 1rem;
     --font-size-large: 1.25rem;
     --font-size-xlarge: 1.5rem;
     --font-size-xxlarge: 2rem;
     --line-height:1.5; 
	 --primary-color: #3498db;
	 --secondary-color: #2ecc71;
	 --accent-color: #e74c3c;
	 --background-color: #ecf0f1;
	 --text-color: #2c3e50;
}
 body {
	 background-color: lightgreen;
     font-size: var(--font-size-base);
     line-height: var(--line-height);
     margin: 0;
     box-sizing: border-box;
     font-family: 'Lora', 'Raleway', 'Open Sans';
     padding: 10px;
}